.masthead {
    background-color: papayawhip;
    padding: 50px;
}

.page-section {
    padding: 40px;
}

.masthead-heading,
.page-section-heading {
    font-family: 'Domine', serif;
    font-weight: bold;
    text-align: left;
    color: #3b2747;
}

.masthead-heading {
    font-size: 50px;
}
.masthead-subheading {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
}

#groceries {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 200px;
}
#groceries img {
    max-width: 70%;
    max-height: 70%;
    margin: auto;
    display: block;
}

/* .portrait {
    height: 50%; 
    width: auto; 
    object-fit: contain;
} */

/*** FOOD EXAMPLES ***/

#foodexamples {
    align-content: center;
}

#imgwrapper {
    display: inline-block;
    position: relative;
    text-align: center;
}
#caption {
    display: none;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3b2747;
    background-color: #papayawhip;
    background-image: linear-gradient(to right, #fff2ac 0%, #ffefd5 100%);
}
#imgwrapper:hover #caption {
    display: block;
}
.circular-landscape:hover, 
.circular-portrait:hover {
    opacity: 0.5;
    box-shadow: 0 0 5px 5px;
}

.circular-landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.circular-landscape img {
    width: auto;
    height: 100%;
    margin-left: -25px;
}

.circular-portrait {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.circular-portrait img {
    width: 100%;
    height: auto;
    margin-top: -55px;
}

/*** ABOUT SECTION ***/
#about {
    background-color: #edeae5;
}

#groceries {
    max-width:100%;
    height:auto;
}

#howitworks {

}

/* green color: #cfdec9 */