<head>
    <title>Donate Food</title>
</head>

{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
    <a class="navbar-brand" href="/index">
        <i class="fas fa-shopping-basket"></i>
        Food Fusion
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/donate">Donate<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/receive">Receive</a>
        </li>
        </ul>
    </div>
    </nav>

    <!-- Page content -->
    <section class="page-section donate">
        <div class="container">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading mb-0">Donate Food</h1>

            <!-- Form -->
            <form method="POST" action="/donate" class="donate-form">
                <div class="form-group">
                    <label for="fullname">Full name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Jane Doe" required>
                </div>
                <div class="form-group">
                    <label for="cityname">What city are you located in?</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                </div>
                <div class="form-group">
                    <label for="descriptionoffood">Description of the food (including quantity)</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Example: 5 ripe bananas" required>
                </div>
                <div class="form-group">
                    <label for="typeoffood">Type of food</label>
                    <select class="form-control" id="type" name="type" required>
                        <option>Fruits (e.g., apples, bananas)</option>
                        <option>Vegetables (e.g., lettuce, potatoes)</option>
                        <option>Protein (e.g., chicken, tofu)</option>
                        <option>Dairy (e.g., cheese, yogurt)</option>
                        <option>Grains/dry goods (e.g., pasta, bread)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity">What's the quantity of the item that you are donating?</label>
                    <input type="number" class="form-control" id="" name="quantity" placeholder="quantity" required>
                </div>
                <div class="form-group">
                    <label for="emailaddess">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="jdoe@example.com" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </section>

	<!-- {% if session.name %}
        {% endif %}
        <a href="/events/new"><button>Add a new event</button></a>
        <a href="/signup"><button>Sign up</button></a>
        <a href="/myevents"><button>My events</button></a>
        <a href="/login"><button>Log in</button></a>
        <a href="/logout"><button>Log out</button></a> -->

{% endblock %}