<head>
    <title>Food Fusion</title>
</head>

{% extends "base.html" %}
{% block content %}

    <!-- Masthead -->
    <header class="masthead">
        <div class="container align-items-center flex-column">
            <!-- Masthead Heading -->
            <h1 class="masthead-heading mb-0">Food Fusion</h1>
            <!-- Masthead Tagline -->
            <p class="masthead-subheading">Bringing communities together</p>
            <div class="container" id="foodexamples">

                <div id="imgwrapper">
                    <div class="circular-landscape"><img src="/../static/assets/strawberries.jpeg"></div>
                    <p id="caption">Fruits</p>
                </div>

                <div id="imgwrapper">
                    <div class="circular-landscape"><img src="/../static/assets/greenspinach.jpeg"></div>
                    <p id="caption">Vegetables</p>
                </div>
                
                <div id="imgwrapper">
                    <div class="circular-portrait"><img src="/../static/assets/salmon.jpeg"></div>
                    <p id="caption">Protein</p>
                </div>
                
                <div id="imgwrapper">
                    <div class="circular-landscape"><img src="/../static/assets/yogurt.jpg"></div>
                    <p id="caption">Dairy</p>
                </div>
                
                <div id="imgwrapper">
                    <div class="circular-landscape"><img src="/../static/assets/pasta.jpeg"></div>
                    <p id="caption">Grains</p>
                </div>
            </div>
   </header>

    <!-- About Section -->
    <section class="page-section" id="about">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading">About</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="container">
                    <div class="row"><p>Ever bought food at the grocery store only to realize that you could never eat it all in a week, like you thought you could? Yeah, we have, too.</p></div>
                    <div class="row"><p>Food Fusion makes it easy for communities to share surplus or unwanted foods that would otherwise go to waste.</p></div>
                    <div class="row"><p>Over 1/3 of all food produced in the world goes uneaten. Instead of throwing your food in the trash can, just make a submission on our website and help out a fellow neighbor!</p></div>
                    <div class="row"><p>And if you're worried about spending too much money and time at the grocery store, we got you covered, too. Check out what your neighbors have donated on our website, and you may be able to receive some free food (and make new friends in the process)!</p></div>
                    </div>
                </div>
                <div class="col-sm-6" id="groceries">
                    <img src="/../static/assets/groceries.jpeg">
                </div>
            </div>
    </section>
    
    <!-- How It Works Section -->
    <section class="page-section" id="howitworks">
        <div class="container">
            <!-- How It Works Section Heading -->
            <h2 class="page-section-heading">How It Works</h2>
        </div>
    </section>


{% endblock %}