<head>
    <title>Food Fusion</title>
</head>

{% extends "base.html" %}
{% block content %}

    <!-- Masthead -->
    <header class="masthead">
        <div class="container align-items-center flex-column">
            <!-- Masthead Heading -->
            <h1 class="masthead-heading mb-0">Food Fusion</h1>
            <!-- Masthead Tagline -->
            <p class="masthead-subheading">Bringing communities together</p>
            <div class="container">
            <div class="circular-landscape">
                <img id="highlight" src="/../static/assets/strawberries.jpeg">
            </div>
            <div class="circular-landscape">
                <img src="/../static/assets/greenspinach.jpeg">
            </div>
            <div class="circular-portrait">
                <img src="/../static/assets/salmon.jpeg">
            </div>
            <div class="circular-landscape">
                <img src="/../static/assets/cheese.jpeg">
            </div>
            <div class="circular-landscape">
                <img src="/../static/assets/pasta.jpeg">
            </div>
            </div>
   </header>

    <!-- About Section -->
    <section class="page-section" id="about">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading">About</h2>
            <div class="row">
                <div class="col-sm-4">
                    Text
                </div>
                <div class="col-sm-8">
                        <img id="groceries" src="https://images.unsplash.com/photo-1584473457406-6240486418e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80" alt="Groceries">
                </div>
        </div>
    </section>
    
    <!-- How It Works Section -->
    <section class="page-section" id="howitworks">
        <div class="container">
            <!-- How It Works Section Heading -->
            <h2 class="page-section-heading">How It Works</h2>
        </div>
    </section>


{% endblock %}