<head>
    <title>Food Fusion</title>
</head>

{% extends "base.html" %}
{% block content %}

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
    <a class="navbar-brand" href="/index">
        <i class="fas fa-shopping-basket"></i>
        Food Fusion
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/donate">Donate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/receive">Receive</a>
        </li>
        </ul>
    </div>
    </nav>

    <!-- PAGE CONTENT -->
    <!-- Masthead -->
    <header class="masthead">
        <div class="container flex-column">
            <!-- Masthead Heading -->
            <h1 class="masthead-heading">Food Fusion</h1>
            <!-- Masthead Tagline -->
            <p class="masthead-subheading">Bringing communities together</p>
            <div class="container foodexamples">
                <div class="imgwrapper">
                    <div class="circular-landscape"><img src="/../static/assets/strawberries.jpeg"></div>
                    <p id="caption">Fruits</p>
                </div>

                <div class="imgwrapper">
                    <div class="circular-landscape"><img src="/../static/assets/greenspinach.jpeg"></div>
                    <p id="caption">Vegetables</p>
                </div>
                
                <div class="imgwrapper">
                    <div class="circular-portrait"><img src="/../static/assets/salmon.jpeg"></div>
                    <p id="caption">Protein</p>
                </div>
                
                <div class="imgwrapper">
                    <div class="circular-landscape"><img src="/../static/assets/yogurt.jpg"></div>
                    <p id="caption">Dairy</p>
                </div>
                
                <div class="imgwrapper">
                    <div class="circular-landscape"><img src="/../static/assets/pasta.jpeg"></div>
                    <p id="caption">Grains</p>
                </div>
            </div>
   </header>

    <!-- About Section -->
    <section class="page-section" id="about-section">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading">About</h2>
            <div class="row">
                <div class="col-sm-8">
                    <div class="container">
                    <div class="row"><p>Ever bought food at the grocery store only to realize that you could never eat it all in a week, like you thought you could? Yeah, we have, too. In fact, over 1/3 of all food produced in the world goes uneaten.</p></div>
                    <div class="row"><p>Food Fusion is a community food-sharing app that makes it easy for everyone to donate and receive surplus or unwanted foods that would otherwise go to waste.</p></div>
                    <div class="row"><p>Instead of throwing your food in the trash can, just make a submission on our website and help out a local neighbor or food pantry!</p></div>
                    <div class="row"><p>Food pantries are welcome to use our website to receive and distribute food donations at their discretion. If you're just an individual worried about spending too much money and time at the grocery store, we got you covered, too. Check out what your neighbors have donated on our website, and you may be able to receive some free food (and make new friends in the process)!</p></div>
                    </div>
                </div>
                <div class="col-sm-4" id="groceries">
                    <img src="/../static/assets/groceries.jpeg">
                </div>
            </div>
    </section>
    
    <!-- How It Works Section -->
    <section class="page-section" id="howitworks-section">
        <div class="container">
            <!-- How It Works Section Heading -->
            <h2 class="page-section-heading">How It Works</h2>
            <div class="row">

                <div class="col-sm-4">
                    <h3>Option 1: Donate</h3>
                    <p>Got any extra fruits, vegetables, protein, dairy, or grains at your home? Add donations to our database, and we will help you pass your food along to a neighbor or food pantry in your city!</p>
                    <a class="btn btn-custom" href="/donate" role="button">Donate</a>
                </div>
                
                <div class="col-sm-4">
                    <h3>Option 2: Receive</h3>
                    <p>Whether you're a food pantry or an individual, browse the food donations in your city, and find the exact food that you are looking for! You will be able to specify the type and quantity of food that you need.</p>
                    <a class="btn btn-custom" href="/receive" role="button">Receive</a>
                </div>

                <div class="col-sm-4">
                    <h3>Enjoy!</h3>
                    <p>Food Fusion runs on community — so whether you donated food or received food, be thankful for your neighbors, and make sure to pay it forward. Thank you for using Food Fusion! :)</p>
                </div>

            </div>
        </div>
    </section>

{% endblock %}