<head>
    <title>Receive Confirmation</title>
</head>

{% extends "base.html" %}
{% block content %}

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
    <a class="navbar-brand" href="/index">
        <i class="fas fa-shopping-basket"></i>
        Food Fusion
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/donate">Donate</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/receive">Receive<span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
    </nav>

    <!-- PAGE CONTENT -->
    <!-- Masthead -->
    <header class="masthead" id="receive-masthead">
        <div class="container">
            <!-- Masthead Heading -->
            <h1 class="masthead-heading highlight">Check Availability</h1>
        </div>
    </header>

	<div class="container" id="test">
        <h3>Name of donor: {{name}}</h3>
        <h3>Email: {{email}}</h3>
        <h3>Name of food: {{food}}</h3>
        <h3>Kind of food: {{kind}}</h3>
        <h3>quantity left: {{quantity}}</h3>
        <form method="POST" action="/check_availability/{{food}}">
            <div class="form-group">
                <label for="quantity">How much do you want?</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
        <a href="/receive"><button type="button" class="btn btn-primary">Go back</button></a>
	</div>

    <div class="container">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <h2>Quantity left: {{remaining}}</h2>
                
            </div>
        </div>
    </div>

{% endblock %}