<head>
    <title>Receive Food</title>
</head>

{% extends "base.html" %}
{% block content %}

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
    <a class="navbar-brand" href="/index">
        <i class="fas fa-shopping-basket"></i>
        Food Fusion
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/donate">Donate</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/receive">Receive<span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
    </nav>

    <!-- PAGE CONTENT -->
    <!-- Masthead -->
    <header class="masthead" id="receive-masthead">
        <div class="container">
            <!-- Masthead Heading -->
            <h1 class="masthead-heading highlight">Receive Food</h1>
        </div>
    </header>

     <!-- Form -->
    <section class="page-section" id="receive-form-section">
        <div class="container">
            <form method="POST" action="/receive">
                <div class="form-group">
                    <label for="fullname">Full name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Jane Doe" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="jdoe@example.com" required>
                </div>
                <div class="form-group">
                    <label for="cityname">What city are you located in?</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                </div>
                <div class="form-group">
                    <label for="typeoffood">Type of food you would like to receive</label>
                    <select class="form-control" id="type" name="type">
                        <option>Fruits (e.g., apples, bananas)</option>
                        <option>Vegetables (e.g., lettuce, potatoes)</option>
                        <option>Protein (e.g., chicken, tofu)</option>
                        <option>Dairy (e.g., cheese, yogurt)</option>
                        <option>Grains/dry goods (e.g., pasta, bread)</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-custom">Submit</button>
                <!-- <input type="submit" value="Submit"> -->
            </form>
        </div>
        <!-- Show results after submission -->
        <div class="container" id="donateView">
            <p>{{message}}</p>
            <div class="row">
                {% for donation in donateView %}
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{donation.description|capitalize}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{donation.type}}</h6>
                            <p class="card-text">Donated by {{donation.name|capitalize}} in {{donation.city|capitalize}}.
                                <br>Contact them at {{donation.email}}!</p>
                            <a class="btn btn-custom" href="/check_availability/{{donation._id}}/{{receive_id}}">See availability</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br>
        </div>
    </section>
   
{% endblock %}